/* Загрузочный экран */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.logo {
    width: 200px;
}

.paw {
    position: absolute;
    bottom: 0;
    width: 150px;
}

/* Экран с контентом */
.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #fff;
}

.cat {
    width: 200px;
    margin-bottom: 20px;
}

.button {
    padding: 10px 20px;
    background-color: #428BFC;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

.button:hover {
    background-color: #357abd;
}

/* Боковое меню */
.sidebar {
    width: 250px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
}

.sidebar h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
    font-family: 'Baloo Chettan 2', sans-serif;  /* Устанавливаем шрифт Baloo Chettan 2 */
}

.sidebar button {
    padding: 15px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 8px;
    color: #333;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 16px;
        font-family: 'Baloo Chettan 2', sans-serif;  /* Устанавливаем шрифт Baloo Chettan 2 */
    width: 100%;
}

.sidebar button:hover {
    background-color: #428BFC;
    color: white;
}

/* Кнопки для выбора языка */
.language-btn {
    padding: 15px;
    background-color: #428BFC;
    color: white;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
        font-family: 'Baloo Chettan 2', sans-serif; /* Устанавливаем шрифт Baloo Chettan 2 */
    width: 80%;
}

.language-btn:hover {
    background-color: #357abd;
}

/* Боковое меню */
.sidebar {
    width: 250px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
}

.sidebar h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
}

.sidebar button {
    padding: 15px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 8px;
    color: #333;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.sidebar button:hover {
    background-color: #428BFC;
    color: white;
}

/* Кнопки для выбора языка */
.language-btn {
    padding: 15px;
    background-color: #428BFC;
    color: white;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 80%;
}

.language-btn:hover {
    background-color: #357abd;
}
