/* Загрузочный экран */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.logo {
    width: 200px;
}

.paw {
    position: absolute;
    bottom: 0;
    width: 150px;
}

/* Экран с контентом */
.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #fff;
}

.cat {
    width: 200px;
    margin-bottom: 20px;
}

.button {
    padding: 10px 20px;
    background-color: #428BFC;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

.button:hover {
    background-color: #357abd;
}

